{% extends /Template/General/Layout.html %} 
{% block title %}哈尔滨工业大学（威海）校友会{% endblock %} 
{% block container %} 
工大回忆：{% assign memory = Column['工大回忆'] %}
<ul>
    <li><h3>{{ memory.TopArticle.Title }}</h3> {{ memory.TopArticle.PictureURL }}</li>
    {% for item in memory.ArticleGetter.Take[5].Result %} 
        {% if item.ArticleID != memory.TopArticle.ArticleID %}
        <li>{{ item.Title }}{% if item.PictureURL %} - {{ item.PictureURL }}{% endif %}</li>
        {% endif %} 
    {% endfor %}
    </ul>
    <ul>
        {% for item in LinkGetter.Take[10].Result %}
        <li><a href="{{ item.LinkURL }}">{{ item.LinkName }}</a></li>
        {% endfor %}
    </ul>
    <ul>
        {% for item in DonationGetter.Take[10].Result %}
        <li>{{ item.Name }} - {{ item.Amount }}</li>
        {% endfor %}
    </ul>
{% endblock %}