/* Code by Shindo. March, 2015. */

#container .content .left .top
{
    width: 100%; height: 380px; 
}

#container .content .left .top .title
{
    width: 100%;
    padding: 45px 0 5px 0;
    margin-left: 15px;
    color: #647160;
    font-size: 15px;
    font-weight: 600;
}

#container .content .left .top ul { list-style: none; }
#container .content .left .top li 
{
    margin-left: 15px;
    width: 270px; height: 40px;
    border-bottom: 1px dashed #e1e2e1;
    overflow: hidden;
}

#container .content .left .top li a
{
    display: block;
    padding-top: 6px;
    overflow: hidden;
    margin-left: 20px;
    font-size: 15px;
    line-height: 45px;
    color: #17588d;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#container .content .left .bottom p
{
    width: 100%; height: 45px;
    margin-left: 15px;
    color: #647160;
    font-size: 15px;
    font-weight: 600;
}

#container .content li a:hover { text-decoration: underline; }

.picArticle { text-align: center; }

.picArticle .border 
{
    width: 202px; height: 132px;
    margin: 0 auto;
    border: 2px solid #caddef;
}

.picArticle .border img 
{
    width: 200px; height: 130px;
    margin: 1px 1px 1px 1px;
}

.picArticle span
{ 
    margin-top: 5px; 
    display: block;
}

.picArticle a 
{
    color: #17588d;
    font-weight: 600;
}

.picArticle a:hover { text-decoration: underline; }

#container .content .right a { color: #003f72; }
#container .content .right a:hover { text-decoration: underline; }

#container .content .right .title
{
    width: 620px; height: 110px;
    background: url(/Template/Common/Image/build.gif) no-repeat right bottom;
    margin: 0 auto;
    border-bottom: 2px solid #ececec;
    position: relative;
}

#container .content .right .title span
{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 20px;
    line-height: 30px;
}

#container .content .right ul 
{ 
    width: 620px;
    list-style: none;
    margin: 10px auto; 
    overflow: hidden;
}

#container .content .right ul li 
{
    background: url(/Template/Common/Image/point.jpg) left center no-repeat;
    height: 25px;
    padding-left: 12px;
    margin-left: 20px;
    line-height: 24px;
    overflow: hidden;
}

#container .content .right ul li.wrap
{
    background: none;
    height: 12px;
}

.pager 
{
    width: 620px;
    border-top: 1px solid #d7d7d7;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    color: black;
    font-weight: 500;
    font-size: 13px;
}