{% extends /Template/General/Layout.html -%} 
{% block otherCSS -%}
<link href="/Template/Common/CSS/Child.css" rel="Stylesheet" />
<link href="/Template/Common/CSS/SNS/Common.css" rel="Stylesheet" />

<style>
    #container .content .right .content
    {
        margin: 10px auto;
        width: 620px;
    }
    #container .content .right .content p { padding-bottom: 10px; }
</style>
{% endblock -%}

{% block content -%}
        <div id="container">
            <div class="content" style="height: 450px;">
                <div class="left">
                    <div class="top">
                        <div class="title">个人中心</div>
                        <div class="separator"></div>
                        <ul> 
                           <li><a href="/SNS/SMS.aspx">短消息</a></li>
                           <li><a href="/SNS/ModifyInfo.aspx">修改个人信息</a></li>
                           <li><a href="/SNS/ModifyPassword.aspx">修改密码</a></li>
                        </ul>
                    </div>
                </div>

                <div class="right">
                    <div class="title"><span>{{ ErrorTitle }}&nbsp;<font color="red">&gt;&gt;</font></span></div>
                    <div class="content">
                        <p>{{ ErrorText }}</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="content">版权所有© 哈尔滨工业大学(威海) All rights reserved.</div>
                <div style="display: none"><script src="http://s11.cnzz.com/z_stat.php?id=1255171414&web_id=1255171414" language="JavaScript"></script></div>
            </div>
        </div>
{% endblock -%}