{% extends /Template/General/Layout.html -%} 
{% block otherCSS -%}
<link href="/Template/Common/CSS/Child.css" rel="Stylesheet" />
<link href="/Template/Common/CSS/SNS/Common.css" rel="Stylesheet" />
<link href="/Template/Common/CSS/SNS/ModifyPassword.css" rel="Stylesheet" />

<script type="text/javascript" src="/Template/Common/JS/jquery-html5Validate.js"></script>
<script type="text/javascript" src="/Template/Common/JS/jquery.md5.js"></script>
{% endblock -%}

{% block content -%}
        <div id="container">
            <div class="content" style="height: 450px;">
                <div class="left">
                    <div class="top">
                        <div class="title">个人中心</div>
                        <div class="separator"></div>
                        <ul> 
                           <li><a href="/SNS/SMS.aspx">短消息</a></li>
                           <li><a href="/SNS/ModifyInfo.aspx">修改个人信息</a></li>
                           <li><a href="/SNS/ModifyPassword.aspx">修改密码</a></li>
                        </ul>
                    </div>
                </div>

                <div class="right">
                    <div class="title"><span>修改密码&nbsp;<font color="red">&gt;&gt;</font></span></div>
                    <div class="content" style="height: 450px; width: 620px;">
                        <div class="form">
                            {% if RequestModify -%}
                                {% if ModifySuccess -%}
                                    <div class="info"><p style="color: green;">密码修改成功！</p></div>
                                {% else -%}
                                    {% if ErrorNumber == -2 -%}
                                    <div class="info"><p style="color: red;">密码修改失败，请检查您输入数据的格式是否正确。</p></div>
                                    {% elsif ErrorNumber == -1 -%}
                                    <div class="info"><p style="color: red;">密码修改失败，旧密码输入错误。</p></div>
                                    {% endif -%}
                                {% endif -%}
                            {% endif -%}
                            <form id="modify_form" method="post" action="/SNS/ModifyPassword.aspx">
                                <div class="input"><p>旧密码</p><input type="password" class="text" id="oldpw" maxlength="20" required /></div>
                                <div class="input"><p>新密码</p><input type="password" class="text" id="newpw" maxlength="20" required /></div>
                                <div class="input"><p>确认密码</p><input type="password" class="text" id="confirmpw" maxlength="20" required /></div>
                                
                                <input type="hidden" name="DoModify" value="1" />
                                <input type="hidden" name="old_password" id="old_password" />
                                <input type="hidden" name="new_password" id="new_password" />
                                <div class="button">
                                    <button type="submit" style="margin-left: 90px; _margin-left: 45px;">修改密码</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="content">版权所有© 哈尔滨工业大学(威海) All rights reserved.</div>
                <div style="display: none"><script src="http://s11.cnzz.com/z_stat.php?id=1255171414&web_id=1255171414" language="JavaScript"></script></div>
            </div>
        </div>
{% endblock -%}

{% block otherJS %}
<script language="javascript" type="text/javascript">
    $(function () {
        $('#modify_form').html5Validate(function () {
            $("#old_password").val($.md5($("#oldpw").val()));
            $("#new_password").val($.md5($("#newpw").val()));
            this.submit();
        }, {
            validate: function () {
                if ($("#newpw").val() !== $("#confirmpw").val()) {
                    $("#newpw").testRemind("前后密码不一致");
                    return false;
                }

                if ($("#newpw").val().length < 6 || $("#newpw").val().length > 20) {
                    $("#newpw").testRemind("长度应为6至20位！");
                    return false;
                }

                return true;
            }
        });
    });
    </script>
{% endblock %}