<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="renderer" content="webkit" />

    <title>哈尔滨工业大学（威海）校友网 — 注册</title>

    <!--[if lt IE 9]><script>document.execCommand("BackgroundImageCache", false, true);</script><![endif]-->

    <script type="text/javascript" src="/Template/Common/JS/jquery-1.11.2.min.js"></script>
    <!--[if IE 6]><script type="text/javascript" src="/Template/Common/JS/DD_belatedPNG.js"></script><![endif]-->
    <script type="text/javascript" src="/Template/Common/JS/jquery.selectbox-0.2.js"></script>
    <script type="text/javascript" src="/Template/Common/JS/jquery-html5Validate.js"></script>
    <script type="text/javascript" src="/Template/Common/JS/jquery.md5.js"></script>

    <link href="/Template/Common/CSS/SNS/SignUp.css" rel="Stylesheet" />
    <script type="text/javascript" src="/Template/Common/JS/Sign.js"></script>
    <script type="text/javascript" src="/Template/Common/JS/SNS.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="title">
                <div class="step1">用&emsp;户&emsp;注&emsp;册</div><div class="step1_arrow"></div>
                {% if Step == 2 -%}
                <div class="step2">完&emsp;善&emsp;资&emsp;料</div><div class="step2_arrow"></div>
                {% endif -%}
                <a href="javascript:void(0);" title="关闭" onclick="Close();"><img src="/Template/Common/Image/close2.png" /></a>
            </div>
        </div>
        {% if Step == 1 -%}
        <div class="form">
            <form id="step1_form" method="post" action="/SNS/SignUp.aspx">
                <div class="input"><p>登录账号</p><input type="text" class="text" id="username" maxlength="20" required /></div>
                <div class="input"><p>登录密码</p><input type="password" class="text" id="password" maxlength="20" required /></div>
                <div class="input"><p>确认密码</p><input type="password" class="text" id="confirmpw" maxlength="20" required /></div>
                <div class="input"><p>姓名</p><input type="text" class="text" id="name" maxlength="40" required /></div>
                <div class="input">
                    <p>入学时间</p>
                    <div class="select_wrapper">
                        <select id="enroll_year">
                            {% for i in (1988...LatestEnrollYear) reversed -%}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor -%}
                        </select>
                    </div>
                </div>
                <div class="input">
                    <p>入学专业</p>
                    <div class="select_wrapper">
                        <select id="enroll_program">
                        {% for item in EnrollProgram -%}
                            <option value="{{ item.ID }}">{{ item.Name }}</option>
                        {% endfor -%}
                        </select>
                    </div>
                </div>
                <div class="input">
                    <p>行业类别</p>
                    <div class="select_wrapper">
                        <select id="employ_category">
                        {% for item in EmployCategory -%}
                            <option value="{{ item.ID }}">{{ item.Name }}</option>
                        {% endfor -%}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="Step" value="2" />
                <div class="button">
                    <button type="submit" style="margin-left: 90px; _margin-left: 45px;" disabled="disabled">注册校友网</button>
                </div>
            </form>
        </div>
        <div class="pic">
            <div id="info"></div>
        </div>
        {% elsif Step == 2 -%}
        <div class="detail">
            <form id="detail_form" method="post" action="/SNS/SignUp.aspx">
                <div class="info">
                    <p>恭喜您注册成功！在继续之前，建议您完善一下个人资料，以便其他同学或校友能够方便的找到您。</p>
                    <p>您也可以<font color="#437be7">以后完善</font>这些信息。</p>
                </div>
                <div class="separator"><p>基&ensp;本&ensp;资&ensp;料</p></div>
                <div class="input short"><p>姓&emsp;&emsp;名&nbsp;<font color="red">*</font></p><input type="text" class="text" name="name" id="name" value="{{ Name }}" required /></div>
                <div class="clear"></div>
                <div class="input short">
                    <p>性&emsp;&emsp;别&nbsp;<font color="red">*</font></p>
                    <input type="radio" class="radio" name="sex" value="1" /><span>男</span>
                    <input type="radio" class="radio" name="sex" value="2" /><span>女</span>
                    <input type="radio" class="radio" name="sex" value="0" checked="checked" required /><span>保密</span>
                </div>
                <div class="clear"></div>
                <div class="input short">
                    <p>生&emsp;&emsp;日</p>
                    <input type="text" class="text" name="birth_date" id="birth_date" />
                </div>
                <div class="input short" style="margin-left: 10px;"><p style="width: 300px;">格式：yyyy-MM-dd，如1987-12-23</p></div>
                <div class="clear"></div>

                <div class="separator"><p>联&ensp;系&ensp;方&ensp;式</p></div>
                <div class="input short">
                    <p>所在城市&nbsp;<font color="red">*</font></p>
                    <div class="select_wrapper_small">
                        <select name="live_province" id="live_province" onchange="liveProvinceChange();">
                        {% for item in LiveProvince -%}
                            <option value="{{ item.ID }}" {% if item.ID == SelectedProvince %}selected="selected"{% endif %}>{{ item.Name }}</option>
                        {% endfor -%}
                        </select>
                    </div>
                    <div class="select_wrapper_small"><select name="live_city" id="live_city"></select></div>
                </div>
                <div class="input short" style="margin-left: 40px;">
                    <p>固定电话</p><input type="number" class="text" name="fixed_phone" id="fixed_phone" maxlength="20" />
                </div>
                <div class="clear"></div>
                <div class="input short">
                    <p>行业类别&nbsp;<font color="red">*</font></p>
                    <div class="select_wrapper">
                        <select name="employ_category" id="employ_category">
                        {% for item in EmployCategory -%}
                            <option value="{{ item.ID }}" {% if item.ID == SelectedCategory %}selected="selected"{% endif %}>{{ item.Name }}</option>
                        {% endfor -%}
                        </select>
                    </div>
                </div>
                <div class="input short" style="margin-left: 40px;">
                    <p>手&emsp;&emsp;机</p><input type="number" class="text" name="mobile_phone" id="mobile_phone" maxlength="20" />
                </div>
                <div class="clear"></div>
                <div class="input short">
                    <p>单位性质</p>
                    <div class="select_wrapper">
                        <select name="workplace_nature" id="workplace_nature">
                        {% for item in WorkplaceNature -%}
                            <option value="{{ item.ID }}">{{ item.Name }}</option>
                        {% endfor -%}
                        </select>
                    </div>
                </div>
                <div class="input short" style="margin-left: 40px;">
                    <p>邮&emsp;&emsp;箱</p><input type="email" class="text" name="email" id="email" maxlength="90" />
                </div>
                <div class="clear"></div>
                <div class="input short">
                    <p>单位名称</p><input type="text" class="text" name="workplace_name" id="workplace_name" maxlength="90" />
                </div>
                <div class="input short" style="margin-left: 40px;">
                    <p>腾讯&ensp;QQ</p><input type="number" class="text" name="qqno" id="qqno" maxlength="20" />
                </div>
                <div class="clear"></div>
                <div class="input short">
                    <p>担任职务</p><input type="text" class="text" name="worktitle" id="worktitle" maxlength="40" />
                </div>
                <div class="input short" style="margin-left: 40px;">
                    <p>微&ensp;信&ensp;号</p><input type="text" class="text" name="wechatid" id="wechatid" maxlength="40" />
                </div>
                <div class="clear"></div>
                <div class="input long">
                    <p>通信地址</p><input type="text" class="text" name="mailing_address" id="mailing_address" maxlength="100" />
                </div>

                <div class="clear"></div>
                <div class="separator"><p>在&ensp;校&ensp;信&ensp;息</p></div>
                <div class="input short">
                    <p>班&emsp;&emsp;号</p>
                    <input type="text" class="text" name="classno" id="classno" maxlength="15" />
                </div>
                <div class="input short" style="margin-left: 40px;">
                    <p>学&emsp;&emsp;号</p><input type="text" class="text" name="studentno" id="studentno" maxlength="25" />
                </div>
                <div class="clear"></div>
                <div class="input short">
                    <p>入学时间<font color="red">*</font></p>
                    <div class="select_wrapper">
                        <select name="enroll_year" id="enroll_year">
                        {% for i in (1988...LatestEnrollYear) reversed -%}
                            <option value="{{ i }}" {% if i == SelectedYear %}selected="selected"{% endif %}>{{ i }}</option>
                        {% endfor -%}
                        </select>
                    </div>
                </div>
                <div class="input short" style="margin-left: 40px;">
                    <p>毕业时间</p>
                    <div class="select_wrapper">
                        <select name="graduate_year" id="graduate_year">
                        {% for i in (1988...LatestGraduateYear) reversed -%}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor -%}
                        </select>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="input short">
                    <p>学&emsp;&emsp;院<font color="red">*</font></p>
                    <div class="select_wrapper">
                        <select name="enroll_school" id="enroll_school" onchange="enrollSchoolChange();">
                        {% for item in EnrollSchool -%}
                            <option value="{{ item.ID }}" {% if item.ID == SelectedSchool %}selected="selected"{% endif %}>{{ item.Name }}</option>
                        {% endfor -%}
                        </select>
                    </div>
                </div>
                <div class="input short" style="margin-left: 40px;">
                    <p>专&emsp;&emsp;业<font color="red">*</font></p>
                    <div class="select_wrapper"><select name="enroll_program" id="enroll_program"></select></div>
                </div>

                <div class="clear"></div>
                <input type="hidden" name="Step" value="3" />
                <div class="button">
                    <button type="submit" style="margin-left: 70px; background-color: #1a5e8e;" disabled="disabled">保存资料</button>
                    <button type="button" style="margin-left: 30px; background-color: #437be7;" onclick="showLogin();">以后完善</button>
                </div>
            </form>
        </div>

        <div style="display: none;">
            <select id="programData">
                {% for item in EnrollProgram -%}
                <option value="{{ item.ID }}" schoolID="{{ item.SchoolID }}">{{ item.Name }}</option>
                {% endfor -%}
            </select>

            <select id="cityData">
                {% for item in LiveCity -%}
                <option value="{{ item.ID }}" provinceID="{{ item.ProvinceID }}">{{ item.Name }}</option>
                {% endfor -%}
            </select>
        </div>
        {% endif -%}
    </div>

    {% if Step == 1 -%}
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#employ_category").selectbox();
            $("#enroll_year").selectbox();
            $("#enroll_program").selectbox();

            $('#step1_form').html5Validate(function () {
                $("#step1_form button").attr('disabled', 'disabled');
                $("#step1_form button").text("提交中……");
                $("#info").text("");

                $.ajax({
                    url: '/SNS/CheckUser.ashx',
                    data: {
                        username: $("#username").val(),
                        password: $.md5($("#password").val()),
                        name: $("#name").val(),
                        enroll_year: $("#enroll_year").val(),
                        enroll_program: $("#enroll_program").val(),
                        employ_category: $("#employ_category").val()
                    },
                    type: 'post',
                    cache: false,
                    dataType: 'text',
                    success: function (data) {
                        $("#step1_form button").removeAttr('disabled');
                        $("#step1_form button").text("注册校友网");

                        switch (parseInt(data)) {
                            case -2: // invalid argument
                                $("#info").text("与服务器通讯失败，请刷新后重试。");
                                break;

                            case -1: // user exist
                                $("#username").testRemind("用户名已存在，请尝试其他用户名。");
                                break;

                            case 0: // success
                                // adjust window
                                parent.$("#dialog_signup").animate({ height: "700px" }, "fast");
                                parent.$("#dialog_signup p").css("lineHeight", "700px");

                                parent.$("#signup_iframe").hide();
                                parent.$("#dialog_signup p").show();

                                parent.$("#signup_iframe").css("height", "700px");

                                document.getElementById("step1_form").submit();
                                break;
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#step1_form button").removeAttr('disabled');
                        $("#step1_form button").text("注册校友网");

                        $("#info").text("与服务器通讯失败，请刷新后重试。");
                    }
                });
            }, {
                validate: function () {
                    if ($("#password").val() !== $("#confirmpw").val()) {
                        $("#password").testRemind("前后密码不一致");
                        return false;
                    }

                    if (!/^[0-9a-zA-Z_]{5,20}$/.test($("#username").val())) {
                        $("#username").testRemind("只能包含字母、数字和下划线，且长度为5至20位！");
                        return false;
                    }

                    if ($("#password").val().length < 6 || $("#password").val().length > 20) {
                        $("#password").testRemind("长度应为6至20位！");
                        return false;
                    }

                    if (!/^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]|[a-zA-Z ]){2,40}$/.test($("#name").val())) {
                        $("#name").testRemind("只能包含汉字、字母和空格，且长度为2至40位！");
                        return false;
                    }

                    return true;
                }
            });

            fixZIndex("#step1_form");
        });
    </script>
    {% elsif Step == 2 -%}
    <script language="javascript" type="text/javascript">
        function showLogin() {
            parent.$("#dialog_signup").hide();
            parent.showSign('#dialog_signin', '#signin_iframe', '/SNS/SignIn.aspx');
            parent.$("#signin_iframe").load(function() {
                setSigninInfo("您已注册成功，请登录。", { color: "green" });
            });
        }
       
        $(function () {
            enrollYearChange({{ SelectedYear }});
            setProgramBySchool({{ SelectedSchool }}, {{ SelectedProgram }}, false);
            setCityByProvince(1, 0);

            $("#enroll_year").selectbox({
                onChange: function(val, inst) {
                    enrollYearChange(val);
                }
            });
            $("#graduate_year").selectbox();
            $("#employ_category").selectbox();
            $("#workplace_nature").selectbox();
            $("#enroll_school").selectbox();
            $("#enroll_program").selectbox();
            $("#live_province").selectbox({ classHolder: 'sbHolderSmall', classSelector: 'sbSelectorSmall', classOptions: 'sbOptionsSmall' });
            $("#live_city").selectbox({ classHolder: 'sbHolderSmall', classSelector: 'sbSelectorSmall', classOptions: 'sbOptionsSmall' });

            $('#detail_form').html5Validate(function() {
                // show loading
                parent.$("#signup_iframe").hide();
                parent.$("#dialog_signup p").show();

                this.submit();
            }, {
                validate: function () {
                    if (!/^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]|[a-zA-Z ]){2,40}$/.test($("#name").val())) {
                        $("#name").testRemind("只能包含汉字、字母和空格，且长度为2至40位！");
                        return false;
                    }

                    if ($("#birth_date").val().length > 0 && !/^[0-9]{4}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30)))$/.test($("#birth_date").val())) {
                        $("#birth_date").testRemind("日期格式不正确！");
                        return false;
                    }
                    
                    return true;
                }
            });
        });

        function enrollYearChange(val) {
            $("#graduate_year").selectbox("detach");
            $("#graduate_year").val(parseInt(val, 10) + 4);
            $("#graduate_year").selectbox("attach");
        }

        function enrollSchoolChange() { 
            $("#enroll_program").selectbox("detach");
            setProgramBySchool($("#enroll_school option:selected").val(), 1, true);
            $("#enroll_program").selectbox("attach");
        }

        function liveProvinceChange() { 
            $("#live_city").selectbox("detach");
            setCityByProvince($("#live_province option:selected").val(), 0); 
            $("#live_city").selectbox({ classHolder: 'sbHolderSmall', classSelector: 'sbSelectorSmall', classOptions: 'sbOptionsSmall' });
        }

        fixZIndex("#detail_form");
    </script>
    {% endif -%}
</body>
</html>

<!-- Code by Shindo. March, 2015. -->