<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="renderer" content="webkit" />

    <title>哈尔滨工业大学（威海）校友网 — 登录</title>

    <!--[if lt IE 9]><script>document.execCommand("BackgroundImageCache", false, true);</script><![endif]-->

    <script type="text/javascript" src="/Template/Common/JS/jquery-1.11.2.min.js"></script>
    <!--[if IE 6]><script type="text/javascript" src="/Template/Common/JS/DD_belatedPNG.js"></script><![endif]-->

    <link href="/Template/Common/CSS/SNS/SignIn.css" rel="Stylesheet" />
    <script type="text/javascript" src="/Template/Common/JS/Sign.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="title"><p>登录</p><a href="javascript:void(0);" title="关闭" onclick="Close();"><img src="/Template/Common/Image/close1.png" /></a></div>
            <div class="logo"></div>
        </div>
        <div class="form">
            <div id="info" style="display: none;"></div>
            <div class="input" style="margin-top: 20px;"><p>账&nbsp;号</p><input type="text" id="username" /></div>
            <div class="input"><p>密&nbsp;码</p><input type="password" id="password" /></div>
            <div class="button"><button type="button" onclick="Signin();">登&ensp;录</button><button type="button" onclick="showSignup();">注&ensp;册</button></div>
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        function showSignup() {
            parent.$("#dialog_signin").hide();
            parent.showSign('#dialog_signup', '#signup_iframe', '/SNS/SignUp.aspx');
        }

        function Signin() {
            setSigninInfo("test", { color: "red" });
        }
    </script>
</body>
</html>

<!-- Code by Shindo. March, 2015. -->